[Unit]
Description=Call a url once when a pattern appears on a list of tailed files

[Service]
Type=simple
ExecStart=/usr/share/vigilante/vigilante

[Install]
WantedBy=multi-user.target

